@page "/"
@using System.Runtime.InteropServices.JavaScript

<h1>Hello, world!</h1>

@if (error is not null) {
    <p>@error</p>
}

@code {
    private String? error;

    protected override async Task OnInitializedAsync() {
        var cts = new CancellationTokenSource();
        cts.Cancel();

        try {
            await JSHost.ImportAsync("hello", "world.js", cts.Token);
        } catch (Exception ex) {
            error = ex.ToString();
        }
        
    }
}